.dashboard{
  
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
html{
  height : 100%
}
label{
  width : 50px;
}
.form-div{
  justify-content: center;
    display: flex;
}
form{
box-shadow: 0px 0px 6px grey;
 background-color: white;
 padding:10px 20px;
 border-radius: 5px;

}
.display{
  max-height : 50%
}
.tableheading{
  text-align: center;
  font-weight: bold;
}

.delete-icon{
  width : 20px
}

label{
  max-width: 100px;
}